[submodule "tensorflow_vgg"]
	path = tensorflow_vgg
	url = https://github.com/charliememory/tensorflow-vgg
[submodule "my_tensorflow_vgg"]
	path = my_tensorflow_vgg
	url = https://github.com/charliememory/tensorflow-vgg
